@import url("fonts/stylesheet.css");

*,*:after,*:before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
@media(max-width: 780px){
	body{
		max-width: 100%;
	}	
}
h1, h2, h3,
h4, h5, h6,
p, a, button{
	font-family: 'Century Gothic';
    font-weight: normal;
    font-style: normal;
}
.header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center; 
}
.header hr{
	width: 100%;
	margin: 0 auto;
	border: .5px solid #f38001;
}
.header__logo{
	height: 40px;
	margin:5px;
	margin-left:3%;
	text-decoration: none;

}
.header__logo img{
	height: 100%;
}
.header__menuMobile{
	margin-right:3%; 
	background: transparent;
	color:#f38001;
	border: none;
	font-size: 40px;
	display: none;
}
.header__menu{
	width: 250px;
	max-width: 40%;
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headerMenu__item{
	text-align: center;
	text-decoration: none;
	color:#666;
}
@media(max-width: 780px){
	.header__menuMobile{
		display: block;
	}
	.header__menuMobile:focus ~ .header__menu,
	.header__menu:hover{
		display: flex;
	}
	.header__menu{
		max-width: 80px;
		margin-right:3%;
		background: #fffa;
		position: absolute;
		top:53px;
		right: 0;
		z-index: 1;
		display: none;
		flex-direction: column;
		align-items: flex-end;
	}
	.headerMenu__item{
		margin:20px 0;
	}	
}
.headerMenu__item:hover{
	font-weight: bold;
	color:#797979;	
}
.container{
	width: 100%;
}
.container--home{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container__title{
	margin:20px 0;
	font-size: 36px;
	color: #a9abad;
}
.container__logo{
	width: 80%;
}
@media(max-width: 780px){
	.container__logo{
		width: 90%;
	}
}
.container__box{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
}
.box__image{
	width: 300px;
	/*height: 188px;*/
	margin-bottom: 10%;
	-webkit-box-reflect: below 0.25em linear-gradient(transparent 70%, white);
	/*-moz-box-reflect: below 0.25em linear-gradient(transparent 70%, white);*/
}
.box__reflect{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.boxReflect__image{
}
@media(max-width: 780px){
	.container__box{
		flex-direction: column;
		align-items: center;

	}
	.box__image{
		-webkit-box-reflect: below 0.25em linear-gradient(transparent 100%, white);
	}
}
.container--partners{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container--partners hr{
	width: 50%;	
	border:.5px solid #a9abad;	
}
.partners__item{
	width: 100%;
	padding: 30px 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
}
.partnersItem__content{
	min-height: 250px;
}
.partners__name{
	/*font-weight: 400;*/
	color: #f38000;
	line-height: 1.5em;
}
.partners__text{
	margin-right:10px;
	color: #a9abad;
	text-align: justify;
	line-height: 1.6em;
}
.partners__info{
	min-width: 30%; 
	margin-top:50px;
	/*justify-content: flex-end;*/
}
.partnersInfo__item{
	font-size: 12px;
	color: #f38000;
	line-height: 1.6em;
	text-decoration: none;
}
.partner_photo{
	margin-bottom: 40px;
	-webkit-box-reflect: below 0.15em linear-gradient(transparent 80%, white);
}
@media(max-width: 780px){
	.container--partners{
		width: 96%;
		margin: 0 2%;
	}
}
@media(max-width: 576px){
	.container--partners hr{
		margin: 20px 0;
	}
	.partners__item{
		padding: 10px;
		flex-direction: column;
		align-items: center;
	}
	.partner_photo{
		-webkit-box-reflect: below 0.15em linear-gradient(transparent 100%, white);
	}
}
.container--contact{
	height: 90vh;
	/*margin: 10%;*/
	display: flex;
}
.contact__section{
	padding: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.contact__section--image{
	width: 50%;
	height: 100%;
	background: url('images/contact.jpg') left no-repeat;
	background-size: cover;
}
.socialBox{
	/*width: 200px;*/
	margin:2px;
	/*border:1px solid #ddd;*/
	/*border-radius: 10px;
	box-shadow: 1px 1px 3px #efefef;
	background: #eeeeee;*/
	display: flex;
	align-items: center;
	text-decoration: none;
}
.socialBox:active{
	/*border-style: inset;*/
	box-shadow: -1px -1px 3px #ddd;
}
.fa{
	margin:5px;
	font-size: 50px;
	color:#f38000;
}
.fa-instagram{
	padding: 1.5px 3.5px;
	border-radius: 8px;
	background: #f38000;
	font-size: 43px;
	color:#fff;
}
.fa-mail{
	/*font-size: 44px;*/
}
.contact__text{
	padding-left: 5px;
	color:#f38000;
}
